process {
    executor = 'slurm'
    
    // Copy the same account and partition from your .sh file
    clusterOptions = '--account=eces450650prj --partition=edu'
    
    // Default resources for pipeline tasks
    cpus = 1
    memory = '12 GB'
    time = '1h'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$HOME/.singularity/cache"
}
